@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@300;400;500;600;700;800&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');


/*--------------------------------------Colors*/
.bg-color-header {
    background-image: url(../images/b+w\ background.jpg);
    background-repeat: no-repeat;
    width: 100%;
}

.bg-color-nav {
    background-color: #0f1113;
    padding: 0;
    margin: 0;
}

.bg-color-footer {
    background-color: #0f1113;
}

.bg-color-home {
    background-color: #0f1113;
    margin: 0;
    padding: 0;
}

.bg-color-gym {
    background-color: #0f1113;
    margin: 0;
    padding: 0;
}
/*--------------------------------------Images*/

.hero-image {
    height: 300px;
    width: 100%;
    opacity: 0.9;
    border-radius: 30%;
}

.ethos-image {
    margin-bottom: 0;
    padding-bottom: 2rem ;
}

.bg-img-insta {
    background-image: url(../images/screenshots/bb_insta.JPG);
    background-position: center;
    width: 300px;
    height: 300px;
    opacity: 0.8;
    padding-right: 2px;
    padding-left: 2px;
    background-repeat: no-repeat;
}

.bg-img-insta-gear {
    background-image: url(../images/screenshots/bbg_insta.JPG);
    background-position: center;
    width: 300px ;
    height: 300px;
    opacity: 0.8;
    padding-right: 2px;
    padding-left: 2px;
    background-repeat: no-repeat;
}

.bg-img-fb {
    background-image: url(../images/screenshots/bb_fb.JPG);
    background-position: center;
    min-height: 300px;
    width: 100%;
    opacity: 0.5;
    padding-right: 2px;
    padding-left: 2px;
    background-repeat: no-repeat;
}
/*--------------------------------------Header*/

.header-block {
    height: 300px;
    width: 100%;
    
}

ul {
    margin-bottom: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    width: 100%;
}

#nav li {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    
}

.menuitem {
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 100px;
    padding-top: 20px;
    
}

.menuitem span {
    display: block;
    width: 100%;
    letter-spacing: 2px;
    
}

/*--------------------------------------Nav transitions*/



.hvr-sweep-to-top:before {
    background-color: #fafafa;
    height: 100%;
}

.menuitem a:hover {
    color: #0f1113;
}

a .footer-heading:hover {
    text-decoration: underline;
    color: #fafafa;
}

/*-------------------------------------Section Ethos*/

.home-header {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    padding: 1rem;
}

.ethos-title {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
}

.ethos-text {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    padding: 1rem ;

}
/*-------------------------------------Section about me*/
.about-me-header {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    
}

.about-me-title {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    text-align: center;

}

/*-------------------------------------Section gym info*/

.gym-info {
    padding: 0;
    margin: 0;
}

.location-header {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.address-title {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 1rem ;
}

.address-text {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    color: #fafafa;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    padding: 1rem ;
}



/*-------------------------------------Gym info carousel*/

.gym-slideshow {
    background-color: #0f1113;
    padding: 0;
    margin: 0;
}
.img-fluid {
    width: 100%;
    height: auto;
    object-fit: fill;
    display: flex;
    justify-content: center;
}

/* copied this code from https://www.hyde-design.co.uk/joomla-bites/80-create-a-css-slideshow-no-javascript-required#:~:text=If%20you're%20only%20after,slideshow%20using%20CSS%20trickery%20alone*/
.fling-minislide {
    width:100%;
    height:auto;
    padding-bottom: 30%;
    overflow:hidden;
    position:relative;
    display: flex;
    justify-content: center;
}

.fling-minislide img {
    position:absolute;
    animation:fling-minislide 20s infinite;
    opacity:0;
}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}

/*---------------------------------------------------------------gym info map*/


/*------------------------------------------------------------------Contact Us*/
.social-link-header {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #0f1113;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-top: 16rem;
}

.social-link a {
    text-decoration: none;
}

/*---------------------------------------------------------------Footer*/

.footer-col {
    display: inline-block;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    width: 100%;
}

.footer-col a {
    text-decoration: none;
}


.footer-heading {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #fafafa;
    text-transform: uppercase;
}

.social-icon i{
    text-decoration: none;
    font-size: 20px;
    color: #fafafa;
    text-align: center;
    padding: 10px;
    transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    
}

.social-icon i:hover {
    transform: scale(1.25);
    color: #fafafa;
}